{%- import 'macros.jinja' as utils %}
{%- for document in documents %}
<{{ doc_tag }} {{ utils.show_field('name', document.metadata, "name", 'Unknown') }} {{ utils.show_field('source', document.metadata, 'source', 'Unknown', index=0) }}>
{{ document.text }}
</{{ doc_tag }}>
{%- endfor %}
